*.apk
*.aar
*.ap_
*.aab
.gradle/
build/
local.properties
proguard-logs/
usage.txt
mapping.txt
seeds.txt
.idea/
*.iml
*.ipr
*.iws
out/
.externalNativeBuild/
.cxx/
*.hprof
captures/
.DS_Store
Thumbs.db
